.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1em;
}

h1 {
  margin: 0;
  color: white;
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.login-btn {
  background-color: #f39c12;
  color: white;
}

.signup-btn {
  background-color: #2980b9;
  color: white;
}
